form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
  }
  
  input, select {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    width: 300px;
  }
  
  input:focus {
    outline: none;
    background-color: #e6e6e6;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  label {
    margin-bottom: 5px;
    font-size: 16px;
  }

  #descp {
    width: 90%;
  }

  /* Styles for title */
  h1 {
    font-size: 32px;
    font-weight: normal;
    margin: 0;
    padding: 20px;
    text-align: left;
  }

  div {
    width: 75%; 
    margin: auto;
  }
